@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";


@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {

  --color-bg: #0f0f10;
  --color-surface: #151517;
  --color-milk-yellow: #e3d3bc;

  --color-text-primary: #ffffff;
  --color-text-secondary: #b5b5b5;

  --color-toyota-red: #eb0a1e;
  --color-toyota-red-soft: #a80a1a;

  --color-border: #232323
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.5rem;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}